@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui;
  --font-display: var(--font-display), ui-sans-serif, system-ui;
  
  --color-smeda-blue: #1e3a8a;
  --color-smeda-accent: #3b82f6;
}

@layer base {
  h1, h2, h3, h4 {
    @apply font-display font-semibold tracking-tight;
  }
}
